<section class="gallery {{ page.tags | downcase }}">
    {% for keycap in include.colcat %}
        {% if keycap.tags contains include.coltag %}
            <article class="{{ include.coltag | downcase }}">
                <!-- <a href="{{ post.url  | relative_url }}" class="link"> -->
                    <span class="image" style="background-image: url({{ keycap.image }});"></span>
                    <span class="flair"></span>
                    <header class="major">
                        <h3>{{ keycap.colorway }} {{ keycap.sculpt }}</h3>
                        <p>{{ keycap.maker }}</p>
                    </header>
                <!-- </a> -->
            </article>
        {% endif %} 
    {% endfor %}
    <article class="fill-empty-space"></article>
    <article class="fill-empty-space"></article>
    <article class="fill-empty-space"></article>
</section>