#header {
	background-color: $dark-purple;

	// Should be properly replaced later
	.logo:hover strong {
		background-color: $light-purple;
		// color: $light-purple;
	}
	nav a:hover {
		color: $light-purple !important;
	}
}

#banner::after {
	display: none;
}

// For Pages

#page {
	background-color: $almost-white;

	#page-wrapper {
		margin: 3%;

		h2 {
			color: $dark-purple;
			margin: 1em 0;

			&:first-child {
				margin-top: 0;
			}
		}
	}
}

#contact, #footer {
	background-color: $dark-purple;
}

#contact {

	> .inner section {
		padding: 4em 3em 2em 0;
	}

	.contact-method {

		&._social {
			padding-left: 0;

			.icons .icon {
				position: relative;
			
				&.geekhack::before {
					content: '\00a0';
					background-image: url('/assets/icons/geekhack.svg');
					background-repeat: no-repeat;
					background-size: 15px;
					background-position: center;
				}
			}
		}


		.discord::before {
			content: '\00a0';
			background-image: url('/assets/icons/discord.svg');
			background-repeat: no-repeat;
			background-size: 18px;
			background-position: center;
		}
	}

		// Should be properly replaced later
		a.icon.alt:hover::before {
			background-color: $light-purple;
		}
}